<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.squid-sslbump-for-webos</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/squid/bin/squid-init.sh</string>
    </array>

    <!-- Start automatically at boot -->
    <key>RunAtLoad</key>
    <true/>

    <!-- Restart if it exits unexpectedly -->
    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/usr/local/squid/var/logs/squid-service.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/squid/var/logs/squid-service.log</string>
</dict>
</plist>
